= render partial: "layouts/header"
.breadHeader
  - breadcrumb :mens
  = breadcrumbs separator: " &rsaquo; "
.newlookMain
  .newlookHeader
    メンズ商品の一覧
  = render partial: "layouts/productbox"
= render partial: "layouts/footer"