= render partial: "layouts/header"
.breadHeader
  - breadcrumb :womens
  = breadcrumbs separator: " &rsaquo; "
.newlookMain
  .newlookHeader
    レディース商品の一覧
  = render partial: "layouts/productbox"
= render partial: "layouts/footer"