.Main{
  background: #f8f8f8;
}
.showMain{
  padding: 40px;
  margin: 0 auto;
}
.contentROOM{
  width: 700px;
  margin: 0 auto;
}
.contentitem {
  background-color: #fff;
  padding: 24px 40px 40px;
  margin: 0;
  &__title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
    &__body{
      margin: 16px 0 0;
    }
      &__picture{
      display: flex;
      position: relative;
      list-style: none;
      }
        &__list{
        display: flex;
        flex-direction: column;
        width: 560px;
        align-items: center;
        margin: 0 auto;
        }
        img{
          object-fit: cover;
          height: 346px;
          width: 100%;
          vertical-align: bottom;
        }
        .soldout{
          border-top: 80px solid #ea352d ;
          border-right: 80px solid transparent;
          border-bottom: 80px solid transparent;
          border-left: 80px solid #ea352d ;
          position: absolute;
          top: 0;
          left: 0;
          height: 0;
          width: 0;
          &__inner{
            font-size: 30px;
            transform: rotate(-45deg);
            margin:-35px 0px 0px -55px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
          &__pictures{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            position: relative;
            list-style: none;
          }
            &__lists{
              width: 25%;
              margin: 0 10px 0 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              img{
                object-fit: cover;
                height: 87px;
                width: 100%;
                vertical-align: bottom;
              }
            }
              &__shot{
                display: flex;
                justify-content: center;
                margin-top: 10px;
              }
              &__shot--text{
                width: 65%;
                margin: 0 10px 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                  object-fit: cover;
                  height: 87px;
                }
              }
            &__price{
              margin: 24px 0 24px;
              text-align: center;
              display: flex;
              flex-direction: column;
            }
              &__prices{
                font-size: 46px;
                font-weight: bold;
                margin: 0 10px 0 0;
                text-align: center;
              }
              &__detail{
                font-size: 16px;
              }
                &__price--detail{
                  box-sizing: border-box;
                  font-size: 16px;
                  text-align: center;
                }       
}

.contentDetail{
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 30px;
}

.prodact{
  margin-bottom: 20px;
  &__ROOM{
    width: 100%;
    height: 375px;
    border-collapse: collapse;
    border: 1px solid #f8f8f8;
    display: table;
    border-spacing: 0;
  }
    &__itemroom{
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
      border-collapse: collapse;
      border-spacing: 0;
  }
      &__MYroom{
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        border-collapse: collapse;
      }
        &__name{
          width: 20%;
          background-color: #eee;
          font-weight: 400;
          padding: 8px;
          border: 1px solid #dedede;
          font-size: 14px;
          text-align: center;
          display: table-cell;
          vertical-align: inherit;
          font-style: normal;
        }
        &__Introduction{
          width: 61%;
          padding: 15px 15px;
          border: 1px solid #dedede;
          font-size: 14px; 
          display: table-cell;
          vertical-align: inherit;
        }
        a{
          text-decoration: none;
          color: #3CCACE;
          cursor: pointer;
          font-size: 14px;
        }
}

.commentBox{
  padding: 20px;
  background-color: #fff;
  margin: 10px 0;
  text-align: center;
  .comment_area{
    width: 100%;
    min-height: 104px;
    padding: 10px;
  }
  .comment_btn{
    line-height: 48px;
    background: #3CCACE;
    border: 1px solid #3CCACE;
    color: #fff;
    width: 60%;
    font-size: 18px;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .commentRoom{
    padding: 12px;
    background-color: #fff;
    margin: 20px 0;
  }
  .commentpoint{
    text-align: left;
  }
  .commenttext{
    text-align: left;
    
  }
}

.rightList{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-evenly;
  a{
    text-decoration: none;
    margin-right: 15px;
    color: #3CCACE;
    font-size: 20px;
  }
}

.commentBox h2{
  color: #3CCACE;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productList{
  background-color: #fff;
  padding: 24px 40px 40px;
  margin: 0;
  h2{
    color: #3CCACE;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
}