.breadHeader{
  padding-left: 10px;
  padding-bottom: 10px;
   a{
     text-decoration: none;
     color: black;
   }
   a:hover{
     background-color: cornflowerblue;
     opacity: 0.6;
   }
}
.Wrapper{
  display: flex;
}

.Link{
  width: 400px;
  margin: 30px auto 0;
  &__page{
    font-size: 20px;
  }
  &__list{
    margin: 8px 0 0;
    a{
    position: relative;
    display: block;
    min-height: 48px;
    padding: 16px;
    background: whitesmoke;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    box-sizing: inherit;
    touch-action: manipulation;
    border: 5px solid white;
    }
    a:hover{
      opacity: 0.4;
    }
  }
}

.MYRoom{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 900px;
}

.Room {
  margin: 20px 0;
  padding: 30px;
  position: relative;
  height: auto;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
  &__list{
    margin: 10px 0 0;
    background: #fff;
  }
  &__item{
    padding: 0 16px;
    background: #fafafa;
    font-size: 20px;
    line-height: 72px;
  }
  &__box{
    display: flex;
  }
  &__images{
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    background-color: whitesmoke;
    box-sizing: border-box;
    width: 50%;
  }
  &__Show{
    margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
  background-color: whitesmoke;
  box-sizing: border-box;
  width: 50%;
  }
  &__date{
  width: 90%;
  margin: 0 0 40px;
  padding: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
 }
}