.optionalBtn.already{
  width: 170px;
  color: white;
  background-color: #3CCACE;
  border: lightgray solid 1px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.optionalBtn.none{
  width: 170px;
  text-decoration: none;
  color: #3CCACE;
  background-color: white;
  border: lightgray solid 1px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
a{
  text-decoration: none;
}