.sellHeader{
  background-color: rgb(245, 245, 245);
  .icon{
    text-align: center;
    padding: 30px 0;
    img{
      width: 140px;
      height: 40.55px;
      vertical-align: bottom;
    }
  }
  .sellMain{
    width: 100vw;
    height: 100%;
    .sellContents{
      width: 700px;
      height: 100%;
      background-color: white;
      margin: 0 auto;
      &__image{
        width: 100%;
        padding: 30px;
        border-bottom: lightgray solid 1px;
        &__h{
          font-weight: bold;
          span{
            font-size: 13px;
            font-weight: normal;
            color: white;
            background-color: red;
            border-radius: 5px;
            padding: 3px;
          }
          .formImage__text{
            font-size: 13px;
            margin-top: 3px;
            margin-bottom: 10px;
          }
        }
        .imageBox{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .previewBox{
            display: flex;
            .previews{
              height: 125px;
              display: flex;
              .imagePreview{
                width: 125px;
                height: 155px;
                .upBox{
                  height: 125px;
                  width: 100%;
                  &__image{
                    display: block;
                    height: 125px;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 125px;
                  }
                }
                .btnBox{
                  display: flex;
                  text-align: center;
                  .edit{
                    color: skyblue;
                    width: 50%;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #eee;
                    border-radius: 5px;
                    background: #f5f5f5;
                    cursor: pointer;
                    margin-right: 5px;
                  }
                  .delete{
                    color: skyblue;
                    width: 50%;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #eee;
                    border-radius: 5px;
                    background: #f5f5f5;
                    cursor: pointer;
                  }
                }
              }
            }
            .uploadLabel{
              height: 100%;
              width: 100%;
              &__box{
                display: block;
                border: 1px dashed #ccc;
                position: relative;
                background: #f5f5f5;
                height: 100%;
                width: 100%;
                cursor: pointer;
              }
              #dropArea{
                height: 100%;
                width: 100%;
              }
              .labelIcon{
                position: absolute;
                top: 45%;
                left: 16px;
                right: 16px;
                text-align: center;
                line-height: 1.5;
                font-weight: bold;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
              }
              &__text{
                position: absolute;
                top: 65%;
                left: 16px;
                right: 16px;
                text-align: center;
                font-size: 10px;
                line-height: 1.5;
                font-weight: bold;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
              }
            }
            .hidden{
              &Field{
                width: 0;
                display: none;
              }
              &CheckBox{
                width: 0;
                display: none;
              }
            }
          }
        }
      }
      &__name{
        font-weight: bold;
        padding: 30px;
        border-bottom: lightgray solid 1px;
        span{
          font-size: 13px;
          font-weight: normal;
          color: white;
          background-color: red;
          border-radius: 5px;
          padding: 3px;
        }
        .nameField{
          margin-top: 30px;
          &__text{
            width: 100%;
            height: 48px;
            font-weight: normal;
            border: lightgray solid 1px;
            border-radius: 5px;
            padding: 0 16px;
          }
        }
      }
      &__discribe{
        font-weight: bold;
        padding: 30px;
        border-bottom: lightgray solid 1px;
        span{
          font-size: 13px;
          font-weight: normal;
          color: white;
          background-color: red;
          border-radius: 5px;
          padding: 3px;
        }
        .discribeField{
          margin-top: 30px;
          &__text{
            width: 100%;
            height: 150px;
            font-weight: normal;
            border: lightgray solid 1px;
            border-radius: 5px;
            padding: 0 16px;
            resize: vertical;
          }
        }
      }
      &__brand{
        font-weight: bold;
        padding: 30px;
        border-bottom: lightgray solid 1px;
        span{
          font-weight: normal;
          font-size: 13px;
          color: white;
          background-color:gray;
          border-radius: 5px;
          padding: 3px;
        }
        .brandField{
          margin-top: 30px;
          &__text{
            width: 100%;
            height: 48px;
            font-weight: normal;
            border: lightgray solid 1px;
            border-radius: 5px;
            padding: 0 16px;
          }
        }
      }
      &__status{
        font-weight: bold;
        padding: 30px;
        border-bottom: lightgray solid 1px;
        span{
          font-weight: normal;
          font-size: 13px;
          color: white;
          background-color: red;
          border-radius: 5px;
          padding: 3px;
        }
        .statusField{
          margin-top: 30px;
          &__text{
            width: 100%;
            height: 48px;
            font-weight: normal;
            border: lightgray solid 1px;
            border-radius: 5px;
            padding: 0 16px;
          }
        }
      }
      &__category{
        font-weight: bold;
        padding: 30px;
        border-bottom: lightgray solid 1px;
        span{
          font-size: 13px;
          font-weight: normal;
          color: white;
          background-color: red;
          border-radius: 5px;
          padding: 3px;
        }
        .categoryField{
          margin-top: 30px;
          &__text{
            width: 100%;
            height: 48px;
            font-weight: normal;
            border: lightgray solid 1px;
            border-radius: 5px;
            padding: 0 16px;
          }
        }
      }
      &__shipping{
        color: gray;
        font-size: 14px;
        padding: 30px;
        border-bottom: lightgray solid 1px;
        .shippingLists{
          font-size: 16px;
          color: black;
          font-weight: bold;
          &__cost{
            margin-top: 10px;
            span{
              font-size: 13px;
              font-weight: normal;
              color: white;
              background-color: red;
              border-radius: 5px;
              padding: 3px;
            }
            .costField{
              margin: 30px 0;
              &__text{
                width: 100%;
                height: 48px;
                font-weight: normal;
                border: lightgray solid 1px;
                border-radius: 5px;
                padding: 0 16px;
              }
            }
          }
          &__from{
            span{
              font-size: 13px;
              color: white;
              background-color: red;
              border-radius: 5px;
              padding: 3px;
            }
            .fromField{
              margin: 30px 0;
              &__text{
                width: 100%;
                height: 48px;
                font-weight: normal;
                border: lightgray solid 1px;
                border-radius: 5px;
                padding: 0 16px;
              }
            }
          }
          &__days{
            span{
              font-size: 13px;
              color: white;
              background-color: red;
              border-radius: 5px;
              padding: 3px;
            }
            .daysField{
              margin: 30px 0;
              &__text{
                width: 100%;
                height: 48px;
                font-weight: normal;
                border: lightgray solid 1px;
                border-radius: 5px;
                padding: 0 16px;
              }
            }
          }
        }
      }
      &__price{
        .priceHeader{
          color: gray;
          font-size: 14px;
          padding: 30px;
        }
        .priceLists{
          display: flex;
          justify-content: space-between;
          &__leftContents{
            .priceTexts{
              font-size: 16px;
              color: black;
              font-weight: bold;
              &__value{
                padding-left: 30px;
                span{
                  font-size: 13px;
                  color: white;
                  background-color: red;
                  border-radius: 5px;
                  padding: 3px;
                }
              }
              &__fee{
                padding: 20px 0px 0px 30px;
              }
              &__profit{
                padding: 20px 0px 0px 30px;
              }
            }
          }
          &__rightContents{
            .priceField{
              &__form{
                margin-right: 30px;
                margin-bottom: 40px;
                display: flex;
                text-align: center;
                &--text{
                  width: 180px;
                  height: 35px;
                  border: lightgray solid 1px;
                  border-radius: 5px;
                  padding: 0 16px;
                  text-align: right;
                }
                h1{
                  margin-right: 10px;
                  margin-top: 7px;
                }
              }
              &__unit{
              }
              &__value{
                width: 200px;
                border-bottom: lightgray solid 1px;
                padding: 18px 30px 0px 0px;
                text-align: right;
              }
            }
            .profitLists{
              &__unit{
              }
              &__value{
                width: 200px;
                border-bottom: lightgray solid 1px;
                padding: 18px 30px 0px 0px;
                text-align: right;
              }
            }
          }
        }
      }
      &__action{
        text-align: center;
        .sellButton{
          width: 200px;
          height: 50px;
          color: white;
          font-size: 17px;
          font-weight: bold;
          background-color: red;
          margin-top: 30px;
          padding: 0 24px;
          border-style: none;
          border-radius: 10px;
        }
        .sellButton:hover{
          background-color:red;
          opacity: 0.7;
        }
      }
      &__back{
        margin-top: 15px;
        text-align: center;
        a{
          text-decoration: none;
          color: black;
        }
        a:hover{
          background-color: whitesmoke;
          opacity: 0.7;
        }
      }
      &__consent{
        font-size: 14px;
        text-align: center;
        padding: 30px 0;
        a{
          text-decoration: none;
          color:#0095ee;
        }
      }
    }
  }
  .sellFooter{
    text-align: center;
    .box{
      display: flex;
      justify-content: center;
      margin-top: 30px;
      &__privacy{
        font-size: 14px;
        a{
          text-decoration: none;
          color: black;
        }
        a:hover{
          background-color: whitesmoke;
          opacity: 0.4;
        }
      }
      &__terms{
        font-size: 14px;
        margin-left: 20px;
        a{
          text-decoration: none;
          color: black;
        }
        a:hover{
          background-color: whitesmoke;
          opacity: 0.4;
        }
      }
      &__transaction{
        font-size: 14px;
        margin-left: 20px;
        a{
          text-decoration: none;
          color: black;
        }
        a:hover{
          background-color: whitesmoke;
          opacity: 0.4;
        }
      }
    }
    .icon{
      padding-top: 30px;
      img{
        width: 140px;
        height: 40.55px;
        vertical-align: bottom;
      }
    }
    .copyRight{
      font-size: 12px;
    }
  }
  #dropArea{
    height: 100%;
    width: 100%;
  }
}