.searchMain{
  display: flex;
  .detailSearch{
    background-color: rgb(245, 245, 245);
    width: 250px;
    padding: 20px;
    .sort{
      height: 25px;
      margin-bottom: 10px;
    }
    .searchForm{
      font-size: 15px;
      .detailTitle{
        margin-bottom: 10px;
      }
      &__keyword{
        margin-bottom: 10px;
        &__text{
          height: 25px;
        }
      }
      &__brand{
        margin-bottom: 10px;
        &__text{
          height: 25px;
        }
      }
      &__category{
        margin-bottom: 10px;
        &__text{
          height: 25px;
        }
      }
      &__price{
        margin-bottom: 10px;
        &__text{
          height: 25px;
        }
      }
      &__status{
        margin-bottom: 10px;
      }
      &__cost{
        margin-bottom: 10px;
      }
      &__btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .clear{
          color: red;
          background-color: deepskyblue;
          text-decoration: none;
          width: 70px;
          padding-left: 12px;
        }
        .complete{
          background-color: deepskyblue;
          border-style: none;
          width: 70px;
        }
      }
    }
  }
  .result{
    .productBox{
      font-size: 20px;
      margin: 10px 20px;
    }
    .searchHead{
      display: flex;
      flex-wrap: wrap;
      .productsList{
        margin-left: 40px;
        margin-bottom: 20px;
        a{
          text-decoration: none;
          color: black;
          .product{
            text-decoration: none;
          }
          img{
            height: 150px;
            width: 150px;
          }
        }
      }
    }
  }
}
.back{
  font-size: 20px;
  text-align: center;
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    background-color: white;
    opacity: 0.6;
  }
}
.pagenation{
  font-size: 28px;
  text-align: center;
  padding: 15px;
  a{
    text-decoration: none;
    color: #3CCACE;
  }
  a:hover{
    background-color: white;
    opacity: 0.6;
  }
}