* {
  box-sizing: border-box;
}

.topHeader{
  padding: 0px 60px;
  .contents{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0px 0px;
    &__main{
      position: relative;
      display: flex;
      align-items: center;
    }
    .icon{
      padding-bottom: 10px;
      margin-right: 30px;
      border-radius: 4px;
      img{
        width: 140px;
        height: 40.55px;
        vertical-align: bottom;
      }
      a{
        width: 140px;
      }
    }
    .searchField{
      width: 100%;
      margin-left: auto;
      margin-bottom: 5px;
      display: flex;    
      &__text{
        width: calc(100% - 26px);
        height: 36px;
        padding-left: 5px;
      }
      button{
        width:36px;
        border:0;
        cursor:pointer;
        background-color:#3CCACE;
        padding:8px;
      }
      button:hover{
        opacity:0.6;
        background-color:#3CCACE;
      }
      &__icon{
        margin:0;
        padding:0;
      }
      img{
        width:100%;
        vertical-align:bottom;
      }
    }
    &__nav{
      font-size: 14px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }
    .leftList{
      display: flex;
      list-style: none;
      line-height: 32px;
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 18px;
      &__item{
        a{
          color: #333;
          text-decoration: none;
        }
        a:hover{
          color: orange;
        }
        &--first{
          padding-right: 30px;
          a{
            color: #333;
            text-decoration: none;
          }
          a:hover{
            color: orange;
          }
        }
      }
    }
    .rightList{
      display: flex;
      align-items: center;
      list-style: none;
      &__item{
        line-height: 38px;
        &--login{
          padding-left: 16px;
          a{
            line-height: 32px;
            color: #333;
            text-decoration: none;
          }
        }
        &--mypage{
          padding-left: 20px;
          a{
            line-height: 32px;
            color: #333;
            text-decoration: none;
          }
        }
        &--new{
          line-height: 32px;
          padding-left: 16px;
          a{
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
}
h1{
  font-size: 100%;
  font-weight: normal;
} 

.topMain{
  background:#f8f8f8;
  .mainVisual{
    width: 100%;
    height: 560px;
    background-image: image-url('bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      p{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn{
        display: flex;
        margin: 24px 0 0 0;
        text-decoration: none;
        a:first-child{
          margin-right: 10px;
        }
        .aBtn{
          width: 180px;
        }
        .gBtn{
          width: 180px;
        }
        img{
          width: 100%;
          vertical-align: bottom;
        }
      }
      a:hover{
        background-color: whitesmoke;
        opacity: 0.4;
        border-radius: 10px;
      }
    }
  }
  .reason{
    padding: 60px 20px;
    .reasonTitle{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .reasonTitle::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .reasonLists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .reasonList{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict{
          position: relative;
          margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span{
            color: #3CCACE;
          }
        }
        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .middleDownload{
    background-image: image-url('bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .middleDownloadTitle{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .downloadBtn{
        display: flex;
        a{
          margin-right: 10px;
        }
        .aBtn{
          width: 180px;
        }
        .gBtn{
          width: 180px;
        }
        img{
          vertical-align: bottom;
        }
        a:hover{
          background-color: whitesmoke;
          opacity: 0.4;
          border-radius: 10px;
        }
      }
    }
  }
  .topfeature{
    padding: 60px 100px;
    background-color: #fff;
    .feature{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .feature::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .featureLists{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .featureList{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__pict{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        img{
          width: 100%;
          vertical-align: bottom;
        }
        &__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .popularContents{
    height: 150px;
    font-size: 24px;
    font-weight: bold;
    color: #3CCACE;
    text-align: center;
    margin-top: 20px;
    .contentsList{
      display: flex;
      justify-content: center;
      &__item{
        font-size: 20px;
        background-color: rgb(245, 234, 234);
        border-style: none;
        border-radius: 10px;
        margin: 15px;
        padding: 3px;
        
        a{
          text-decoration: none;
          color: black;
        }
        a:hover{
          background-color: whitesmoke;
          opacity: 0.6;
        }
      }
    }
  }
  .pickupContents:last-child{
    padding-bottom: 80px;
  }
  .pickupContents{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    .contentsHeader{
      text-align: center;
      &__title{
        color: #3CCACE;
        font-size: 24px;
        font-weight: bold;
      }
      &__more{
        a{
          font-size: 18px;
          text-decoration: none;
          color: black;
        }
        a:hover{
          background-color: whitesmoke;
          opacity: 0.5;
        }
      }
    }
    .productBox{
      .productLists{
        margin: 25px;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        a{
          text-decoration: none;
          position: relative;
        }
        .productList{
          display:inline-flex;
          justify-content:center;
          a{
            background-color: white;
            display: inline-block;
            border-style: none;
            margin: 15px;
            box-shadow: 7px 7px 10px 5px lightgray;
          }
          a:hover{
            opacity:0.7;
          }
          a:hover{
            opacity:0.7;
          }
          &--img{
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            img{
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
          &--body{
            background-color: white;
            color: #333;
            padding: 16px;
            .name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .details{
              font-size: 16px;
              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .likeIcon{
                  display: inline-block;
                  font: normal normal normal 14px/1;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                }
                .likeIcon::before{
                  content: "\f005";
                }
              }
              p{
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

.bottomDownload{
  background-image: image-url('bg-appBanner-pict.jpg');
  padding:100px 40px;
  position:relative;
  background-size:cover;
  background-position:center;
  .inner{
    color:white;
    text-align:center;
    &__title{
      font-size:24px;
      font-weight:bold;
      text-shadow:0 0 5px rgba(0,0,0,0.4);
      line-height:1.4;
    }
    &__text{
      font-size:35px;
      text-shadow:0 0 5px rgba(0,0,0,0.4);
    }
    &__icon{
      width:100%;
      display:flex;
      justify-content:center;
      margin:20px auto 0;
      .apple{
        width:180px;
        margin-right:10px;
      }
      .apple:hover{
        background-color:whitesmoke;
        opacity:0.4;
        border-radius:10px;
      }
      .google{
        width:180px;
        height:auto;
      }
      .google:hover{
        background-color:whitesmoke;
        opacity:0.4;
        border-radius:10px;
      }
      img{
        vertical-align:bottom;
      }
    }
  }
}

.topFooter{
  background-color:#272727;
  text-align:center;
  color:white;
  padding:60px 0;
  .contents{
    max-width:840px;
    margin:0 auto;
    display:flex;
    .content{
      display:flex;
      flex-direction:column;
      width:calc(1 / 3 * 100%);
      &__title{
        font-size:16px;
        font-weight:bold;
        margin-bottom:20px;
      }
      .box{
        &__list a{
          text-decoration: none;
          color:white;
          font-size:12px;
          line-height:30px;
          text-decoration:none;
        }
        a:hover{
          text-decoration:underline;
        }
      }
    }
  }
  &__logo{
    max-width:160px;
    width:100%;
    margin:0 auto;
    img{
      width:100%;
      vertical-align:bottom;
    }
  }
}

.purchaseBtn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon{
    width: 60%;
  }
} 
.purchaseBtn:hover{
  opacity:0.7;
  background-color:#3CCACE;
}