= render partial: "layouts/header"
.breadHeader
  - breadcrumb :newlooks
  = breadcrumbs separator: " &rsaquo; "
.newlookMain
  .newlookHeader
    新着商品の一覧
  = render partial: "layouts/productbox"
= render partial: "layouts/footer"