.cardFooter
  %ul.box
    %li.box__privacy
      = link_to "プライバシーポリシー", "#"
    %li.box__terms
      = link_to "フリマ利用規約", "#"
    %li.box__transaction
      = link_to "特定商取引に関する表記", "#"
  .icon
    = link_to image_tag('logo.png'), root_path
  .copyRight
    © FURIMA, Inc. 